body, html {
    height : 100%;
  }


body{

    width:100%;
    height: 100%;
    background-color:#ffeedd;

}

.postslist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 5%;
   }

.post{
    display: flex;
    padding: 2%;
    border-radius: 5px;
    margin:10px 0;
    color: black;
    width: 45%;
    box-shadow: 20px 20px 50px 10px pink
   
}

.username{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
 
}

.username p{
    font-weight: bold;
}

.heading{
    display: flex;
    flex-direction: row;
    background-color: #ededed;
    color: grey;
    font-weight:initial;
    justify-content: space-between;
}

.heading p{
    background-color: #ededed;
    margin: 0 10px 0 0;
}

.comment{
    background-color: #ededed;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
}

.initial-text {
    line-height: 1.8em;
    height: 2.4em;
    overflow: hidden;
  }


.btn-delete-post{
    display: flex;
    justify-content: space-between;
    margin : 15px;
    cursor: pointer;

}


.fa-trash,
.fa-ellipsis-h {
  color:  grey;
  float: right ;
  cursor: pointer;
}


#btn-custom-delete{
    width : 70px;
}


#btn-custom-dont-delete{
    width : 70px;
}


